[core]
  editor = nvim
  autoCRLF = false
  excludesfile = ~/.gitignore

[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = auto

[alias]
  st = status
  ci = commit
  ch = checkout
  ca = commit -a
  cm = commit -m
  br = branch
  ba = branch -a
  d = diff
  df = "!git hist | peco | awk '{print $2}' | xargs -I {} git diff {}^ {}"
  ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
  lr = "!git log --graph --oneline remotes/origin/$(git rev-parse --abbrev-ref HEAD)"
  hist = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all
  pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
  open = "!hub browse"
  find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
  show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"

[commit]
    template = ~/.commit_template

[push]
  default = matching

[pull]
  rebase = false

[hub]
  protocol = https

[user]
  name = posaune0423
  email = posaune0423@users.noreply.github.com
  name = Asuma Yamada
[init]
  defaultBranch = main
[coderabbit]
  machineId = cli/5e230c7ab7e04a689604bc38df53e81e
