name: stylua

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  stylua:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run StyLua (check)
        uses: JohnnyMorganz/stylua-action@v4
        with:
          args: --check .
